.order-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.homepage-image {
  display: flex;
  width: 450px;
  height: 350px;
  border-radius: 8px;
}
