.headers {
  display: flex;
  margin-bottom: 20px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.backend-error {
  display: flex;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;

  color: #bd200f;
}
.success-message {
  display: flex;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;

  color: black;
}
.form-inline {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.button {
  display: flex;
  justify-content: center;
}
